---
name: CICD

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  sanity:
    runs-on: ubuntu-latest
    env:
      SRSIM_LICENSE: ${{ secrets.SRSIM_LICENSE }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.11', '3.12', '3.13', '3.14']
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      
      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install Python Requirements
        run: pip install -r requirements.txt

      - name: Install Ansible collections
        run: |
          ansible-galaxy collection install ansible.netcommon

      - name: Build python wrappers for gRPC proto files
        run: |
          cd plugins/utils
          python -m grpc_tools.protoc -I . --python_out=. --grpc_python_out=. *.proto
          sed -i 's/^import \(.*_pb2\)/from ansible_collections.nokia.openconfig.plugins.utils import \1/' *

      - name: Build and install this collection
        run: |
          ansible-galaxy collection install .

      - name: Install containerlab
        run: bash -c "$(curl -sL https://get.containerlab.dev)"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull nokia_srsim docker image
        run: |
          docker pull ghcr.io/nokia/srlinux:25.7.2
#         docker pull ghcr.io/nokia/nokia_srsim:25.7.R2
 
#      - name: Create license file
#        run: |
#          echo $SRSIM_LICENSE > tests/license.txt

      - name: Deploy Lab
        run: |
          cd tests
          chmod +x run.sh
          ./run.sh deploy --topo ci.clab.yml
          cat clab-ansible/ansible-inventory.yml

      - name: Run Tests
        run: |
          cd tests
          ./run.sh run --all --quiet

      - name: Destroy Lab
        run: |
          cd tests
          ./run.sh destroy --topo ci.clab.yml